* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background: #f3f2ef;
}
.errors{
  color: red;
  font-size: 15px;
  
}
