.dashboard_page {
  height: fit-content;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  background-color: #f3f2ef;
  margin-top: 60px;
}
.right_page {
  width: 40%;
  border-right: 1px solid rgba(42, 33, 33, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}
.imageGif {
  width: auto;
}
.imageGif img {
  width: 100%;
  height: 100%;
}
.description_details {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f2ef;
}

.intro_base {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  margin: 40px 0;
  color: #1e90ff;
  font-family: Arial, Helvetica, sans-serif;
}
.more_detail {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  margin: 0 auto;
  color: #333;
}
.teamwork {
  margin: 30px 0;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}
.start_today {
  margin: 30px 0;
  font-size: 30px;
  font-weight: bold;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e90ff;
}
.start_today_data{
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e90ff;
}
.start_today_data span{
  color: #563b3b;
  font-style: italic;
}
.home_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_buttons button {
  margin: 20px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #1e90ff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.home_buttons button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.7s;
}

@media screen and (max-width: 630px) {
  .right_page {
    display: none;
  }
  .dashboard_page {
    align-items: center;
  }
  .description_details {
    width: 100%;
    flex-direction: column;
  }
  .start_today_data{
    font-size: 20px;
  }
}

@media screen and (max-width: 433px) {
  .intro_base {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0;
  }
  .more_detail {
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
  }
  .teamwork {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
  }
  .start_today {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
  }
  .home_buttons button {
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
  }
  .start_today_data{
    font-size: 17px;
  }
}
