.notify_page {
  margin-top: 60px;
}
.notification_wrapper {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  background-color: #c8bd9e5c;
  border: 1px solid #888;
  text-align: justify;
  min-height: 80vh;
}
.notify_title {
  padding: 10px;
  color: #333;
  font-size: 30px;
  text-align: center;
}
.notifications_content {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #888;
}
.notifications_content li span {
  font-weight: bold;
  color: #333;
  color: red;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.no_notifications {
  text-align: center;
  font-size: 20px;
  color: #333;
}
.clear_notifications {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.clear_notifications button {
  background-color: #333;
  background-color: rgba(199, 13, 13, 0.706);
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.clear_notifications button:hover {
  background-color: #333;
  background-color: rgba(199, 13, 13, 0.906);
  border-radius: 5px;
  cursor: pointer;
  transform:  scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .notification_wrapper {
    width: 100%;
  }

  .notify_title {
    font-size: 20px;
  }
  .notifications_content {
    font-size: 15px;
  }
  .no_notifications {
    font-size: 15px;
  }

  .notify_page {
    margin-top: 50px;
  }
}
