.lets_update_comment {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.updateComment {
  margin: 10px;
  padding: 10px;
}
.inputupdateComment {
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.submitUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
